/*HEADER*/
.logout-btn {
    padding: 2px 5px;
}

.logout-btn a {
    color: white;
    padding: 5px 10px;
}

.logout-btn a:hover {
    color: black;
}

.carousel-item img {
    object-fit: contain;
    width: 25%;
    border-radius: 5px;
    box-shadow: 0px -1px 40px 5px rgba(0, 0, 0, 0.31);
}