<form action="creation_film" method="POST">
	<div class="col-7">
		<div class="form-group col-md-6">
			<label for="titre">Titre</label>
			<input type="text" class="form-control" id="titre">
		</div>
		<div class="form-group col-md-6">
			<label for="annee">Année</label>
			<input type="text" class="form-control" id="annee">
		</div>
		<div class="col-7">
			<div class="form-group col-md-6">
				<label for="affiche">Affiche</label>
				<input type="text" class="form-control" id="affiche">

				<div class="form-group col-md-6">
					<label for="realisateur">Réalisateur</label>
					<input type="text" class="form-control" id="realisateur">
				</div>


			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="role">Rôle(s)</label>
					<input type="text" class="form-control" id="role1" placeholder="Personnage"><br>
					<input type="text" class="form-control" id="roleNom1" placeholder="Nom"><br>
					<input type="text" class="form-control" id="rolePrenom1" placeholder="Prenom"><br>


					<input type="text" class="form-control" id="role2" placeholder="Personnage"><br>
					<input type="text" class="form-control" id="roleNom2" placeholder="Nom"><br>
					<input type="text" class="form-control" id="rolePrenom2" placeholder="Prenom"><br>


					<input type="text" class="form-control" id="role3" placeholder="Personnage"><br>
					<input type="text" class="form-control" id="roleNom3" placeholder="Nom"><br>
					<input type="text" class="form-control" id="rolePrenom3" placeholder="Prenom"><br>

				</div>
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Créer</button>
	</div>
</form>
