{% if session.email is defined %}

	<form action="creation_film" method="POST">
		<h1>Ajout d'un film</h1>
		<div
			class="container">

			{# affiche #}
			<div class="row">
				<div class="form-group col-md-6">
					<label for="titre">Titre</label>
					<input type="text" class="form-control bg-light" name="titre" required>
				</div>
				<div class="form-group col-md-6">
					<label for="annee">Année</label>
					<input type="text" class="form-control bg-light" name="annee" required>
				</div>
			</div><br>

			{# affiche #}
			<div class="col-12">
				<div class="form-group col-12">
					<label for="affiche">Affiche</label>
					<input type="text" class="form-control bg-light" name="affiche" required>
				</div>
			</div><br>


			{# realisateur #}
			<div class="form-group col-md-6">
				<label for="realisateur">Réalisateur</label>
				<input type="text" class="form-control bg-light" name="realisateur" required>
			</div><br>

			{# rôles #}
			<div class="form-group col-md-12 mb-3">
				<label for="role">Rôle(s)</label>
				<button type="button" id="btnRole" class="btn btn-outline-primary">Ajouter un rôle</button>
				<div class="row firstRole">
					<div class="col">
						<input type="text" class="form-control bg-light w-100" name="personnage[]" placeholder="Personnage" required>
					</div>
					<div class="col">
						<input type="text" class="form-control bg-light w-100" name="nom[]" placeholder="Nom" required>
					</div>
					<div class="col">
						<input type="text" class="form-control bg-light w-100" name="prenom[]" placeholder="Prénom" required>
					</div>
				</div>
				<div name="newRole[]" class="row newRole"></div>
			</div>

			<div
				class="text-center mt-4" id="buttons">
				<!-- Aggiungi un margine superiore più grande per abbassare il bottone -->
				<button id="submit" type="submit" class="btn btn-primary">Créer</button>
				<button id="btnDelete" type="button" class="btn btn-outline-danger" hidden>Supprimer</button>
			</div>
			<h5 class="text-danger">{{erreur}}</h5>
		</div>
	</form>
</div>{% else %}
<h1 class="text-danger">ERREUR 403 : Accès interdit. Veuillez d'abord vous connecter.</h1>{% endif %}
