<h1>Créer un compte</h1>
<br>
<form action="register" method="POST">
	<label for="username">Username</label>
	<br>
	<input type="text" name="newUserName" id="username">
	<br>
	<label for="email">E-mail</label>
	<br>
	<input type="email" name="newEmail" id="email">
	<br>
	<label for="password">Password</label>
	<br>
	<input type="password" name="newPassword" id="password">
	<br>
	<label for="rePassword">Password confirm</label>
	<br>
	<input type="password" name="rePassword" id="rePassword">
	<br>

	<br>
	<button type="submit" name="submitnew">Register</button>
</form>
<p>{{message}}</p>


<hr>
