<h1>Identification</h1>
<hr>
<h3>Veuillez entrer un email et un mot de passe :</h3>
<br>
<form action="new_user" method="POST">
	<label for="email">E-mail</label>
	<br>
	<input type="email" name="newEmail" id="email">
	<br>
	<label for="password">Password</label>
	<br>
	<input type="password" name="newPassword" id="password">

	<br>
	<button type="submit" name="submitnew">Créer</button>
</form>
<p>{{message}}</p>


<hr>
